html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  transform: scale(1);
  transform-origin: top left;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  min-height: 200px;
  background: linear-gradient(to bottom, #4f46e5, #06b6d4);
}

/* Removing Scroll when screen width is less than 768 */
@media (max-width: 768px) {

  /* Hide scrollbar but allow scrolling */
  body {
    overflow: auto;
    /* or overflow-y: scroll; if only vertical */
  }

  /* Hide scrollbars for WebKit browsers (Chrome, Safari) */
  body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbars for Firefox */
  body {
    scrollbar-width: none;
    /* Firefox */
  }
}

/* This media query only for landing page hero section  */
@media (max-width: 349px) {
  .text-xs-responsive {
    font-size: 1.75rem;
    /* e.g., text-xl or smaller */
    line-height: 1.4;
  }
}

/* This media query only for navbar */
@media (min-width: 768px) and (max-width: 850px) {
  .navbar-container {
    width: 94% !important;
    max-width: 850px !important;
  }

  .nav-item {
    font-size: 16px !important;
    padding: 0.25rem 0.25rem !important;
  }

  .nav-button {
    font-size: 13px !important;
    padding: 0.75rem 0.75rem !important;
  }

  .brand-logo img {
    height: 1.25rem !important;
  }

  .brand-logo span {
    font-size: 0.875rem !important;
    margin-left: 0.5rem !important;
  }
}

/* This media query only for navbar */
@media (min-width: 861px) and (max-width: 1024px) {
  .navbar-container {
    width: 90% !important;
  }

  .nav-item {
    font-size: 16px !important;
    padding: 0.25rem 0.25rem !important;
  }
}